<header>

    <img src="/images/Logo.png" class="logo" alt="logo">

    <nav class="navBar">
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Libertum</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
    </nav>
    <a class="cta"><button class="buttonLogReg">i want to be part</button> </a>

</header>