<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="headerContainer">
        <div class="headerLogo"><img src="/images/Logo.png" alt="Logo"></div>

        <div class="navBarContainer">
            <nav class="navBar">
                <ul class="nav-links">
                  <li><a href="#">Swap</a></li>
                  <li><a href="#">Borrowing</a></li>
                  <li><a href="#">Pools</a></li>
                  <li><a href="#">Whitepaper</a></li>
                  <li><a href="#">Roadmap</a></li>
                </ul>
            </nav>
        </div>

        <div class="containerWallet">
            


        </div>


    </div>




</body>
</html>