*{
    box-sizing: border-box;
    padding: 2px;
    margin: 0;
}

header{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
}

li,a,button{
    color: white;
    font-weight: 400;
    text-decoration: none;
    align-items: center;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0, 20px ;
}


.buttonLogReg{
    padding: 9px 25px;
    background-color: rgb(255, 217, 0);
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgb(255, 174, 0);
}
