<!DOCTYPE html>
<html>
  <head>
    <title>Libertum</title>
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <script src="https://kit.fontawesome.com/a7a7476959.js" crossorigin="anonymous"></script>
  </head>
  <body> 
    <!-- Header --> 
    <%- include('./partials/header') -%>

    <section class="section1">

      <img src="/images/phones.png" alt="Phones" class="phoneImg">
      
      <div class="textHome">
        <h2>Put your ideas and projects into action thanks to new technologies</h2>
          <p class="subTitle"> Libertum is a technological tool based on highly secure mathematical processes that will allow the creation of fully decentralized an anonymus financial services </p>
      </div>

      <div class="buttons"> 
        <button class="buttonEnter">Enter App</button>
        <button class="buttonRead">Read More</button>
      </div>

      <div class="scrollArrow">
        <i class="fa-solid fa-angle-down"></i>
      </div>

    </section>

    <section class="section2" id="sectionTwo">

      <h1>This is section 2</h1>

    </section>



  </body>
</html>
